{{!--
  Copyright 2015-2017 ForgeRock AS. All Rights Reserved

  Use of this code requires a commercial software license with ForgeRock AS.
  or with one of its affiliates. All use shall be exclusively subject
  to such license between the licensee and ForgeRock AS.
--}}
{{> dashboard/_widgetHeader}}
<div class="panel-body widget-body">
    <div class="row">
        <div class="col-sm-4 left-chart"></div>
        <div class="col-sm-4 center-chart"></div>
        <div class="col-sm-4 right-chart"></div>
    </div>
</div>
