{{!--
  Copyright 2016-2017 ForgeRock AS. All Rights Reserved

  Use of this code requires a commercial software license with ForgeRock AS.
  or with one of its affiliates. All use shall be exclusively subject
  to such license between the licensee and ForgeRock AS.
--}}
<div class="form-group">
    <label class="sr-only separator" for="input-emails[{{@index}}].value">
        <span>{{t label}}</span>
    </label>
    <input type="text"
        placeholder="{{t label}}"
        id="input-emails[{{@index}}].value"
        name="user.emails[{{@index}}].value"
        class="form-control input-lg"
        value="{{value}}" />
</div>
