<!-- Example: Google sign in partial -->
<a class="login-link" id="google-login-link" href="/google/login">
    G<span style="color: #eb4336">o</span><span style="color: #fbbc06">o</span>g<span style="color: #34a852">l</span><span style="color: #eb4336">e</span>
</a>
<!-- Example: end -->
