{{!--
  Copyright 2015-2017 ForgeRock AS. All Rights Reserved

  Use of this code requires a commercial software license with ForgeRock AS.
  or with one of its affiliates. All use shall be exclusively subject
  to such license between the licensee and ForgeRock AS.
--}}
{{#unless newObject}}
<div role="tabpanel" class="tab-pane" id="password">
    <div class="tab-pane-body">
        <div class="panel-collapse-group">
            <div class="panel panel-default panel-collapse">
                <div class="panel-body">
                    <form class="form-horizontal">
                        {{> resource/_passwordFields}}

                        {{> _alert
                            id="noEmailConfiguredAlert"
                            type="warning"
                            heading=error
                            message=emailMessage
                            link="#emailsettings/"
                            linkMessage=linkMessage
                            hidden=emailServiceAvailable
                        }}

                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="alert alert-warning resourceChangesPending" style="display: none;">
            <i class="fa fa-exclamation-circle"></i><strong> {{t "templates.mapping.changesPending"}}</strong>
            <span class="changedFields"></span>
        </div>
        <div class="pull-right">
            {{#unless newObject}}
            <a href="#" class="btn btn-default resetBtn" disabled>{{t "common.form.reset"}}</a>
            {{/unless}}
            <a href="#" id="passwordSaveBtn" class="btn btn-primary saveBtn" >{{t "common.form.save"}}</a>
        </div>
    </div>
</div>
{{else}}
<div id="password" class="margin-left-10">
    <form class="form-horizontal">
        {{> resource/_passwordFields newObject=true}}
    </form>
</div>
{{/unless}}
