{{!--
  Copyright 2015-2017 ForgeRock AS. All Rights Reserved

  Use of this code requires a commercial software license with ForgeRock AS.
  or with one of its affiliates. All use shall be exclusively subject
  to such license between the licensee and ForgeRock AS.
--}}
<div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title widget-section-title">{{t "common.task.myTasks"}}</h4>
        </div>
        <div class="dashboard-list">
            <ul class="list-group" id="myTasks"></ul>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title widget-section-title">{{t "templates.admin.tasks.TasksDashboardTemplate.tasksFromGroupsQueue"}}</h4>
        </div>
        <div class="dashboard-list">
            <ul class="list-group" id="candidateTasks"></ul>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title widget-section-title">{{t "common.task.processes"}}</h4>
        </div>
        <div class="dashboard-list" id="processes"></div>
    </div>
</div>