{{!--
  Copyright 2017 ForgeRock AS. All Rights Reserved

  Use of this code requires a commercial software license with ForgeRock AS.
  or with one of its affiliates. All use shall be exclusively subject
  to such license between the licensee and ForgeRock AS.
--}}
<div>
    {{consent}}
</div>
<div id="privacyAndConsentAcceptHolder">
    <label>
        <input type="checkbox" value="privacyAndConsentAccept" id="privacyAndConsentAccept">
        <span>{{t "common.user.consent.dialogConfirmation"}}</span>
    </label>
</div>
