{{!
  Copyright 2017 ForgeRock AS. All Rights Reserved

  Use of this code requires a commercial software license with ForgeRock AS.
  or with one of its affiliates. All use shall be exclusively subject
  to such license between the licensee and ForgeRock AS.
}}
<div class="fr-top-bar">
    <div class="container">
        <h3 class="fr-backbar">
            <a href="#profile/signInAndSecurity" class="fr-back-crumb">{{t "common.user.signInAndSecurity"}}</a>
        </h3>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
            <main id="editPassword">
                <div class="page-header">
                    <h1>{{t "common.user.password"}}</h1>
                </div>
                <div class="fr-panel-list">
                    <div class="panel">
                        <form class="form-horizontal">
                            <div class="panel-body">
                                {{#if changeProtected}}
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">{{t "common.user.currentPassword"}}</label>
                                        <div class="col-sm-7">
                                            <div class="input-group">
                                                <input class="form-control" type="password" name="currentPassword" value="">
                                                <span class="input-group-btn">
                                                    <button tabindex=-1 class="btn btn-default btn-showhide-password" data-name="currentPassword" type="button"><i class="fa fa-eye"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                {{/if}}
                                <div class="form-group" data-form-group>
                                    <label class="col-sm-3 control-label" for="input-password">{{t "common.user.newPassword"}}</label>
                                    <div class="col-sm-7">
                                        <div class="input-group">
                                            <input class="form-control new-value" type="password" id="input-password" name="password" value=""
                                                data-validation-dependents="input-confirmPassword" data-validator-event="keyup" data-validator />
                                            <div class="validation-message"></div>
                                            <span class="input-group-btn">
                                                <button tabindex=-1 class="btn btn-default btn-showhide-password" data-name="password" type="button"><i class="fa fa-eye"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group" data-form-group>
                                    <label class="col-sm-3 control-label" for="input-confirmPassword">{{t 'common.user.confirmNewPassword'}}</label>
                                    <div class="col-sm-7">
                                        <div class="input-group">
                                            <input class="form-control new-value" type="password" id="input-confirmPassword" name="confirmPassword" value=""
                                                data-validator="passwordConfirm" data-validator-event="keyup" passwordField="input-password" />
                                            <div class="validation-message"></div>

                                            <span class="input-group-btn">
                                                <button tabindex=-1 class="btn btn-default btn-showhide-password" data-name="confirmPassword" type="button"><i class="fa fa-eye"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel-footer">
                                <div class="pull-right">
                                    <button type="button" class="btn btn-primary btn-save">{{t "common.user.changePassword"}}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>
