{{!
Copyright 2015-2017 ForgeRock AS. All Rights Reserved

Use of this code requires a commercial software license with ForgeRock AS.
or with one of its affiliates. All use shall be exclusively subject
to such license between the licensee and ForgeRock AS.
}}
{{!-- Depricated: Please use LoginBaseTemplate --}}
<div id="medium-base">
    <div class="main-logo-holder">
        <img class="main-logo" src="{{theme.settings.loginLogo.src}}" style="{{#if theme.settings.loginLogo.width}}width:{{theme.settings.loginLogo.width}};{{/if}}{{#if theme.settings.loginLogo.height}} height:{{theme.settings.loginLogo.height}};{{/if}}" alt="{{theme.settings.loginLogo.alt}}" />
    </div>
    <div id="content"></div>
</div>
