{{!--
    Copyright 2017 ForgeRock AS. All Rights Reserved

    Use of this code requires a commercial software license with ForgeRock AS.
    or with one of its affiliates. All use shall be exclusively subject
    to such license between the licensee and ForgeRock AS.
--}}
<div class="fr-profile-page">
    <div class="page-header">
        <h1>{{t "templates.sharing.header"}}</h1>
        <p class="panel-description">{{t "templates.sharing.desc"}}</p>
        <div class="page-header-right">
            <a href="#uma/requests/" class="btn type-danger btn-default">{{t "templates.sharing.pendingRequests"}} <span class="badge">{{pendingRequestCount}}</span></a>
        </div>
    </div>

    <form id="sharing">
        <div class="fr-panel-list fr-hover-panel-list">
            <div class="panel panel-default">
                <div class="has-feedback filter-margin">
                    <input type="text" id="sharingFilter" class="has-feedback-left form-control" aria-label="Search resources" placeholder="{{t "templates.sharing.placeHolder"}}">
                    <div class="form-control-feedback form-control-feedback-left"><i class="fa fa-search"></i></div>
                </div>
            </div>

            <div class="panel panel-default">
                <div id="sharingGrid" class="resource-container"></div>
                <div id="sharingGrid-paginator"></div>
            </div>
        </div>
    </form>
</div>
