{{!--
  Copyright 2015-2017 ForgeRock AS. All Rights Reserved

  Use of this code requires a commercial software license with ForgeRock AS.
  or with one of its affiliates. All use shall be exclusively subject
  to such license between the licensee and ForgeRock AS.
--}}
<div class="container">
    <div class="page-header no-border">
        <h1>{{t "dashboard.dashboard"}}</h1>
    </div>
</div>
<div class="container">
    <div id="dashboardWidgets" class="row"></div>
    <div id="dashboardWorkflow"></div>
    <div class="well widget-empty-state" style="display:none;">
        <p class="lead" style="margin-bottom: 0;">
            {{t "dashboard.noWidgetsEndUser"}}
        </p>
    </div>
</div>
