{{!--
    Copyright 2017 ForgeRock AS. All Rights Reserved

    Use of this code requires a commercial software license with ForgeRock AS.
    or with one of its affiliates. All use shall be exclusively subject
    to such license between the licensee and ForgeRock AS.
--}}
<div class="panel panel-default fr-panel-tab">
    <form class="form-horizontal" id="password">
        <div class="panel-body">
            <div class="form-group" data-form-group>
                <label class="col-sm-3 control-label" for="input-password">{{t "common.user.newPassword"}}</label>
                <div class="col-sm-6">
                    <input class="form-control" type="password" id="input-password" name="password" value=""
                        data-validation-dependents="input-confirmPassword" data-validator-event="keyup" data-validator="required" />
                    <div class="validation-message"></div>
                    <span class="form-control-feedback"><i class='fa validation-icon'></i></span>
                </div>
            </div>
            <div class="form-group" data-form-group>
                <label class="col-sm-3 control-label" for="input-confirmPassword">{{t 'common.user.confirmNewPassword'}}</label>
                <div class="col-sm-6">
                    <input class="form-control" type="password" id="input-confirmPassword" value=""
                        data-validator="passwordConfirm" data-validator-event="keyup" passwordField="input-password" />
                    <div class="validation-message"></div>
                    <span class="form-control-feedback"><i class='fa validation-icon'></i></span>
                </div>
            </div>
        </div>
        <div class="panel-footer clearfix">
            {{> form/_basicSaveReset}}
        </div>
    </form>
</div>
