<!-- Example: home page template, including ForgeRock and Google login partials -->
<p>Sign in with:</p>

<p>
  <% include ../forgerock/views/_login.ejs %>
</p>

<p>
  <% include ../google/views/_login.ejs %>
</p>
<!-- Example: end -->
